.blockCont {
    padding: 0.6em 0.4em 0.2em 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    border-bottom: 0.1em solid black;
}

.contentCont {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 0.4em;
    text-align: left;
    width: 50%;
}

.childrenCont {
    padding: 0.5em;
}

.imageCont {
    padding: 0.5em;
}