.mainCont {
    min-height: 50vh;
}

.descriptionCont {
    padding: 0 2em;
}

.imageCont1, .imageCont2 {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

.imageCont1 {
    background-image: url("./images/Image1.png");
}

.imageCont2 {
    background-image: url("./images/Image2.png");
}

.contentCont {
    color: white;
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}