.buttonContainer {
    line-height: 2em;
    /* border-bottom: 0.1em solid gray; */
    /* min-width: 6em; */
    padding: 0 1em;
    display: inline-block;
    margin: 0 1em;
}
.buttonContainer a {
    border-bottom: 0.1em solid gray;
}

.button {
    color: white;
}

.button:hover {
    color: darkred;
    cursor: pointer;
}