.mainCont {
    background-color: black;
    min-height: 20vh;
    color: white;
    font-size: 0.6em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
}

.icon {
    height: 24px;
    width: 24px;
    margin: 0 0.5em;
}

.navigationLink {
    padding: 0 1.6em;
    font-size: 0.8em;
}

.supportLink {
    padding: 0 0.3em;
    border-bottom: 0.1em solid white;
    font-size: 0.8em;
    margin: 0 0.4em;
    display: flex;
    flex-direction: row;
}

.supportLink span {
    padding: 0 0.3em;
    font-size: 0.8em;
    width: 16em;
    display: flex;
    margin: 0;
}