.imageCont {
    display: inline-block;
    padding: 0.1em;
}

.image {
    height: 14em;
    margin: 0;
    padding: 0;
    /* border: 0.1em solid black; */
    /* border-radius: 0.3em; */
}